numpy==1.26.4
# torch                # uncomment if load local LLM
transformers==4.47.0
scipy
openpyxl 
langchain
langchain-community
# langchain-huggingface # uncomment if load local LLM
langchain-chroma
accelerate
tiktoken
unstructured
python-docx
pypdf
python-dotenv
einops
langchain_groq
gradio
-e .